.new-training {
    padding: 30px;
}

mat-card-title {
    padding-top: 25px;
    font-size: 1.5rem;
}

mat-card-content {
    padding-top: 20px;
}

button {
    padding:  12px 25px;
    margin-bottom: 20px;
    font-size: 1rem;
}